.stack {
  width: 100%;
  max-width: calc(var(--spacing-80) * 4 + var(--spacing-56));
  margin: 0 auto;
  background: var(--background-main-background-black);
}

.card {
  background: var(--background-main-background-primary);
  color: var(--content-typography-content-primary);
}
